# AWS Cognito (existing User Pool)
COGNITO_USER_POOL_ID=us-east-1_Ibp76ZpqU
COGNITO_CLIENT_ID=1tjaebcijmiaueqq6gp6drbkci
COGNITO_REGION=us-east-1

# DynamoDB tables (created by SAM)
ROUTES_SCOPES_TABLE=cognito-auth-system-routes-scopes
EVENTS_TABLE=cognito-auth-system-events

# EventBridge
EVENTBRIDGE_BUS_NAME=cognito-auth-system-event-bus

# Deployment
ENVIRONMENT=dev
AWS_REGION=us-east-1

# API URL (populated after deployment)
API_URL=https://<api-id>.execute-api.us-east-1.amazonaws.com/dev/
